<head>
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="scripts/scripts.js"></script>
</head>
<body>
    <div class="bigContainer">
        <div class="outerbox">
            <div class="innerbox"></div>
            <div class="innerbox"><span></span></div>
            <div class="innerbox"><span></span></div>
            <div class="innerbox"><span></span></div>
            <div class="innerbox"><span></span></div>
            <div class="innerbox"><span></span></div>
            <div class="innerbox"><span></span></div>
            <div class="innerbox"><span></span></div>
            <div class="innerbox"><span></span></div>
        </div>
    </div>
    </body>
