* {
	box-sizing: border-box;
	color: #bbe0f4;
}
html {
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
	background: #989898;
}
body {
	margin: 0;
	padding: 2em;
	background: #1b262c;
}
h1 {
	text-decoration-color: white;
}

.bigContainer {
  margin: 10%;
  width: 50vh;
}

.outerbox {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 25%;
  gap: 2%;
  transform: rotate(45deg);
} 

.innerbox {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rebeccapurple;
  aspect-ratio: 1/1;
  border: 5px solid transparent;
}

.innerbox:hover {
  border: 5px solid rgb(213, 187, 21);
}

.innerbox > span {
  transform: rotate(-45deg);
  font-family: Consolas;
  font-size: 3em;
  padding: 10%;
}

.timer {
  color: red;
}